<div class="container">
  <div class="row">
    <div class="full column" style="margin-top: 25%">
      <div class="center-wrapper">
        <h2>SEARCH IMAGES BY COLOR</h2>
        <%= render 'index_form' %>
      </div>
    </div>
  </div>
</div>
